body div nav img#mongodb:hover {
  transform: rotateY(180deg);
  transition: transform 1s ease-in-out;
}
body div nav .image-container {
  width: 60px;
  height: 60px;
  overflow: hidden;
  position: relative;
  transition: background-color 1s ease;
}
body div nav .image-container img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0%;
  left: -5%;
  transition: transform 2s ease;
}
body div nav .image-container:hover img {
  animation: rotateImage 1s linear forwards;
}
body div nav .image-container::before {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 0;
  left: 44%;
  width: 3px;
  height: 100%;
  background-color: #2c1a06;
  z-index: 1;
  opacity: 0;
  transition: transform 1s ease-out;
}
body div nav .image-container:hover::before {
  opacity: 1;
  transform: rotateZ(360deg);
}
@keyframes rotateImage {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(180deg);
  }
}
body div nav img#discord:hover {
  transform: rotate(1440deg);
  transition: transform 5s ease;
}
body div nav .github {
  position: relative;
  width: 60px;
  height: 60px;
}
body div nav .github:hover #eye,
body div nav .github:hover #eye2 {
  background-color: antiquewhite;
  transition: background-color 0.5s ease;
}
body div nav .github #eye {
  cursor: pointer;
  position: absolute;
  top: 25px;
  left: 20px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #2c1a06;
  z-index: 2;
}
body div nav .github #eye2 {
  cursor: pointer;
  position: absolute;
  top: 25px;
  left: 37px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #2c1a06;
  z-index: 2;
}
body div nav img#react {
  transition: transform 5s ease;
}
body div nav img#react:hover {
  transform: rotate(720deg);
  transform-origin: center;
}
body div nav img#nextjs:hover {
  background-image: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 70%);
  transition: background-image 5s;
}
body div nav img#postgresql:hover {
  transform: rotate(-35deg) translateX(5px);
  transform-origin: center;
  transition: 0.5s ease-out;
}
body div nav #python-logo {
  max-width: 60vw;
  max-height: 60vh;
  padding: 5px;
  overflow: visible;
}
body div nav #python-logo path {
  position: relative;
  fill: transparent;
  stroke-width: 5px;
  transition: all 0.2s ease-in-out;
}
body div nav #python-logo path:first-child {
  stroke: #3670a0;
  animation: border-move 2s linear forwards, fill-first 1s 2s linear forwards;
}
body div nav #python-logo path:last-child {
  stroke: #fed140;
  animation: border-move 2s linear forwards, fill-second 1s 2s linear forwards;
}
body div nav #python-logo:hover path:first-child {
  transform: translate(-4%, -4%);
  text-shadow: 0 0 20px #3670a0;
}
body div nav #python-logo:hover path:last-child {
  transform: translate(4%, 4%);
  box-shadow: 0 0 20px #fed140;
}
@keyframes border-move {
  0% {
    stroke-dasharray: 0 1600;
  }
  100% {
    stroke-dasharray: 1600 1600;
  }
}
@keyframes fill-first {
  0% {
    fill: transparent;
  }
  100% {
    fill: #3670a0;
  }
}
@keyframes fill-second {
  0% {
    fill: transparent;
  }
  100% {
    fill: #fed140;
  }
}

footer .github {
  position: relative;
  width: 60px;
  height: 60px;
}
footer .github:hover #eye,
footer .github:hover #eye2 {
  background-color: antiquewhite;
  transition: background-color 0.5s ease;
}
footer .github #eye {
  cursor: pointer;
  position: absolute;
  top: 25px;
  left: 20px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #2c1a06;
  z-index: 2;
}
footer .github #eye2 {
  cursor: pointer;
  position: absolute;
  top: 25px;
  left: 37px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #2c1a06;
  z-index: 2;
}/*# sourceMappingURL=imgAnimations.css.map */