body section nav img#react {
  transition: transform 5s ease;
}
body section nav img#react:hover {
  transform: rotate(720deg);
  transform-origin: center;
}
body section nav img#nextjs:hover {
  background-image: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 70%);
  transition: background-image 5s;
}
body section nav img#postgresql:hover {
  transform: rotate(-35deg) translateX(5px);
  transform-origin: center;
  transition: 0.5s ease-out;
}
body section nav #python-logo {
  max-width: 60vw;
  max-height: 60vh;
  padding: 5px;
  overflow: visible;
  cursor: pointer;
}
body section nav #python-logo path {
  position: relative;
  fill: transparent;
  stroke-width: 5px;
  transition: all 0.2s ease-in-out;
}
body section nav #python-logo path:first-child {
  stroke: #3670A0;
  animation: border-move 2s linear forwards, fill-first 1s 2s linear forwards;
}
body section nav #python-logo path:last-child {
  stroke: #FED140;
  animation: border-move 2s linear forwards, fill-second 1s 2s linear forwards;
}
body section nav #python-logo:hover path:first-child {
  transform: translate(-4%, -4%);
  text-shadow: 0 0 20px #3670A0;
}
body section nav #python-logo:hover path:last-child {
  transform: translate(4%, 4%);
  box-shadow: 0 0 20px #FED140;
}
@keyframes border-move {
  0% {
    stroke-dasharray: 0 1600;
  }
  100% {
    stroke-dasharray: 1600 1600;
  }
}
@keyframes fill-first {
  0% {
    fill: transparent;
  }
  100% {
    fill: #3670A0;
  }
}
@keyframes fill-second {
  0% {
    fill: transparent;
  }
  100% {
    fill: #FED140;
  }
}

@font-face {
  font-family: Dune Rise;
  src: url(Canvas_basics/utils/images/Dune_Rise.otf);
}
body {
  margin: 0;
}
body #homeSection canvas {
  border: 1px solid black;
  z-index: 1;
}
body #name {
  color: #c874b2;
  font-size: 48px;
  font-family: Dune Rise;
  position: absolute;
  top: 5%;
  left: 35%;
  z-index: 2;
}
body #explore {
  position: absolute;
  top: 45%;
  left: 5%;
  z-index: 2;
}
body #projects {
  position: absolute;
  top: 55%;
  left: 5%;
  z-index: 2;
}
body #contact {
  position: absolute;
  top: 65%;
  left: 5%;
  z-index: 2;
}
body .button {
  --background-color: rgba(0, 0, 0, 0.95);
  --border-color: linear-gradient(90deg, rgba(33,5,53,1) 0%, rgba(123,51,125,1) 53%, rgba(245,213,224,1) 100%);
  --border-width: 0.1em;
  --edge-size: 0.8em;
  width: 250px;
  height: 45px;
  opacity: 0.7;
  font-weight: 900;
  letter-spacing: 2px;
  color: #7b337d;
  text-transform: uppercase;
  cursor: pointer;
  background: var(--background-color);
  padding: 0.5em 1.5em;
  border: 0;
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  clip-path: polygon(var(--edge-size) 0%, 100% 0, 100% calc(100% - var(--edge-size)), calc(100% - var(--edge-size)) 100%, 0 100%, 0% var(--edge-size));
  transition: color 250ms;
}
body button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--border-color);
  z-index: -2;
}
body button::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--background-color);
  z-index: -1;
  clip-path: polygon(var(--border-width) calc(var(--edge-size) + var(--border-width) * 0.5), calc(var(--edge-size) + var(--border-width) * 0.5) var(--border-width), calc(100% - var(--border-width)) var(--border-width), calc(100% - var(--border-width)) calc(100% - (var(--edge-size) + var(--border-width) * 0.5)), calc(100% - (var(--edge-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)), calc(var(--border-width)) calc(100% - var(--border-width)));
  transition: clip-path 500ms;
}
body button:hover {
  color: white;
  font-size: 14px;
  letter-spacing: 3px;
  transition: 0.4s;
}
body button:hover::after {
  clip-path: polygon(calc(100% - var(--border-width)) calc(100% - (var(--edge-size) + var(--border-width) * 0.5)), calc(100% - var(--border-width)) var(--border-width), calc(100% - var(--border-width)) var(--border-width), calc(100% - var(--border-width)) calc(100% - (var(--edge-size) + var(--border-width) * 0.5)), calc(100% - (var(--edge-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)), calc(100% - (var(--edge-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)));
}
body section {
  background-color: #2C1A06;
}
body section nav {
  background-color: #06182c;
  display: flex;
  justify-content: center;
  gap: 40px;
  border: 10px solid darkgray;
  border-style: inset;
  margin-top: -5px;
  padding: 10px;
}
body section h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 32px;
  text-align: left;
  padding-left: 200px;
  color: white;
  letter-spacing: 2px;
  text-decoration: underline;
}

/*# sourceMappingURL=index.css.map */
