@import "./imgAnimations.scss";
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@600&family=Arvo:ital@0;1&family=Cutive&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Vast+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@600&family=Arvo:ital@0;1&family=Cutive&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan:ital@0;1&family=Vast+Shadow&display=swap");

@font-face {
  font-family: Dune Rise;
  src: url(./images/Dune_Rise.otf);
}
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0px 0px;
  padding: 0px;

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06182c;
    border: 2px solid#06182c;
    padding: 10vw;

    form {
      width: 80%;
      max-width: 30vw;
      border: 10px solid black;
      border-radius: 50px;
      background-color: silver;
      padding: 50px;

      h2 {
        font-family: "Sedan", serif;
        font-size: 32px;
        text-align: left;
        color: black;
        letter-spacing: 2px;
        align-self: center;
      }

      #submit-btn {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  section#slider-section {
    height: fit-content;
    padding-top: 50px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #06182c;

    .container {
      width: 100%;
      max-width: 100vw;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      .subcontainer {
        width: 78%;
        margin: auto;
        display: flex;
        justify-content: center;

        .slider-wrapper {
          padding: 50px;
          position: relative;
          max-width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border: 10px solid black;
          border-radius: 50px;
          background-color: silver;

          h2 {
            font-family: "Sedan", serif;
            font-size: 32px;
            text-align: left;
            color: black;
            letter-spacing: 2px;
          }

          #tns1-ow {
            padding: 0 !important;
            overflow: hidden;
            max-width: 85%;
          }

          #controls {
            .previous,
            .next {
              padding: 2px;
              width: 30px;
              cursor: pointer;
              border-radius: 50%;
              outline: none;
              transition: 0.7s ease-in-out;
              border: 3px solid white;
              background-color: #1a1a1a;
              box-shadow: 0 0 5px #bbb;
              position: absolute;
              top: 50%;
            }

            .previous {
              left: 2%;
            }

            .next {
              right: 2%;
            }

            .previous:hover,
            .next:hover {
              border: 3px solid gray;
            }
            i {
              color: white;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  #homeSection {
    position: relative;

    .loadElement {
      opacity: 0;
    }
    .container {
      background-color: white;
      text-align: center;
      position: absolute;
      width: 100vw;
      height: 100vh;
      left: 0;
      right: 0;
      margin: auto;

      .text {
        padding-top: 30vh;
      }

      canvas {
        z-index: 1;
        margin: 0px 0px;
        max-width: 100vw;
      }
    }
  }
  #name {
    color: #c874b2;
    font-size: 48px;
    font-family: Dune Rise;
    position: absolute;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
  }

  #explore {
    position: absolute;
    top: 45%;
    left: 5%;
    z-index: 2;
  }

  #projects {
    position: absolute;
    top: 55%;
    left: 5%;
    z-index: 2;
  }

  #contact {
    position: absolute;
    top: 65%;
    left: 5%;
    z-index: 2;
  }

  .button {
    --background-color: rgba(0, 0, 0, 0.95);
    --border-color: linear-gradient(
      90deg,
      rgba(33, 5, 53, 1) 0%,
      rgba(123, 51, 125, 1) 53%,
      rgba(245, 213, 224, 1) 100%
    );
    --border-width: 0.1em;
    --edge-size: 0.8em;

    width: 250px;
    height: 45px;
    opacity: 0.7;
    font-weight: 900;
    letter-spacing: 2px;
    color: #7b337d;
    text-transform: uppercase;
    cursor: pointer;
    background: var(--background-color);
    padding: 0.5em 1.5em;
    border: 0;
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    clip-path: polygon(
      var(--edge-size) 0%,
      100% 0,
      100% calc(100% - var(--edge-size)),
      calc(100% - var(--edge-size)) 100%,
      0 100%,
      0% var(--edge-size)
    );
    transition: color 250ms;
  }

  button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--border-color);
    z-index: -2;
  }

  button::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--background-color);
    z-index: -1;
    clip-path: polygon(
      var(--border-width) calc(var(--edge-size) + var(--border-width) * 0.5),
      calc(var(--edge-size) + var(--border-width) * 0.5) var(--border-width),
      calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      calc(var(--border-width)) calc(100% - var(--border-width))
    );
    transition: clip-path 500ms;
  }

  button:hover {
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    transition: 0.4s;
  }

  button:hover::after {
    clip-path: polygon(
      calc(100% - var(--border-width))
        calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
      calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width))
    );
  }
  nav {
    background-color: #2c1a06;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    border: 10px solid darkgray;
    border-style: inset;
    margin-top: -5px;
    padding: 10px;

    .skill:hover {
      cursor: pointer;
    }
  }
  section#s1 {
    // #2C1A06
    background-color: #06182c;
    width: 100dvw;
    height: fit-content;
    display: flex;
    justify-content: center;

    aside {
      height: fit-content;
      border: 10px solid black;
      border-radius: 50px;
      background-color: silver;
      width: 80%;
      height: 80%;
      display: flex;
      justify-content: center;
      padding: 20px 20px;
      margin: 50px 0%;

      #content {
        margin-top: 90px;
        min-width: 300px;
        width: 50%;
        background-color: #06182c;
        border-radius: 50px;
        border: 10px solid #2c1a06;
        min-height: 400px;
        height: fit-content;

        h2 {
          text-align: center;
          font-family: "Sedan", serif;
          font-size: 32px;
          font-weight: 400;
          color: white;
          letter-spacing: 2px;
        }

        p {
          padding: 0px 20px;
          color: silver;
          font-family: "Arvo", serif;
          font-weight: 400;
          font-style: normal;
        }
      }

      #text {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          color: black;
          font-family: "Arvo", serif;
          font-weight: 400;
          font-style: normal;
        }

        h2 {
          font-family: "Sedan", serif;
          font-size: 32px;
          text-align: left;
          color: black;
          letter-spacing: 2px;
        }
        img {
          width: 500px;
          height: auto;
          clip-path: xywh(0 5px 100% 75% round 15% 0);
        }
      }
    }
  }
}

/* Footer styling */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 992px) {
  body section#s1 aside {
    flex-wrap: wrap;
    margin: 20px 10px;
    padding: 20px 0px;
  }

  body section#homeSection {
    height: 600px;
    canvas {
      height: 600px;
      width: 100%;
    }

    a {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
    }
    #explore {
      top: 25%;
    }
    #projects {
      top: 35%;
    }
    #contact {
      top: 45%;
    }
  }
}
.tns-nav {
  text-align: right;
  margin-bottom: 10px;
}

.tns-nav button {
  border: none;
  padding: 8px;
  border-radius: 50%;
  background-color: white;
  margin-left: 15px;
}

.tns-nav .tns-nav-active {
  background-color: gray;
}

/* DYNAMIC HTML */

.slide {
  width: auto;
  height: fit-content;
}

.slide img {
  width: 100%;
  height: 275px;
}

@media (max-width: 1600px) {
  .container {
    width: 100%;
  }
}
#tns1 > .tns-item {
  width: calc(5%);
  margin-left: 25px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 10px solid #2c1a06;
  border-radius: 50px;
  background-color: white;
  h3 {
    font-family: "Sedan", serif;
    font-size: 22px;
    text-align: left;
    color: black;
    letter-spacing: 2px;
  }

  p,
  ol {
    color: black;
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
  }
}
