canvas {
    border: 1px solid black;
    z-index: 1;
}

body {
    margin: 0;
}

@font-face {
    font-family: Dune Rise;
    src: url(Canvas_basics/utils/images/Dune_Rise.otf);
}

#name {
    color: #c874b2;
    font-size: 48px;
    font-family: Dune Rise;
    position: absolute;
    top: 5%;
    left: 35%;
    z-index: 2;
}

#explore {
    position: absolute;
    top: 45%;
    left: 5%;
    z-index: 2;
}

#projects {
    position: absolute;
    top: 55%;
    left: 5%;
    z-index: 2;
}

#contact {
    position: absolute;
    top: 65%;
    left: 5%;
    z-index: 2;
}

.button {
    --background-color: rgba(0, 0, 0, 0.8);
    --border-color: linear-gradient(90deg, rgba(33,5,53,1) 0%, rgba(123,51,125,1) 53%, rgba(245,213,224,1) 100%);
    --border-width: 0.1em;
    --edge-size: 0.8em;
    
    width: 250px;
    height: 45px;
    letter-spacing: 2px;
    color: #7b337d;
    text-transform: uppercase;
    cursor: pointer;
    background: var(--background-color);
    padding: 0.5em 1.5em;
    border: 0;
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    clip-path: polygon(
        var(--edge-size) 0%,
        100% 0,
        100% calc(100% - var(--edge-size)),
        calc(100% - var(--edge-size)) 100%,
        0 100%,
        0% var(--edge-size)
    );
    transition: color 250ms;
    }

    button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--border-color);
    z-index: -2;
    }

    button::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--background-color);
    z-index: -1;
    clip-path: polygon(
        var(--border-width) calc(var(--edge-size) + var(--border-width) * 0.5),
        calc(var(--edge-size) + var(--border-width) * 0.5) var(--border-width),
        calc(100% - var(--border-width)) var(--border-width),
        calc(100% - var(--border-width))
        calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
        calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
        calc(var(--border-width)) calc(100% - var(--border-width))
    );
    transition: clip-path 500ms;
    }

    button:hover {
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    transition: 0.4s;
    }

    button:hover::after {
    clip-path: polygon(
        calc(100% - var(--border-width))
        calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
        calc(100% - var(--border-width)) var(--border-width),
        calc(100% - var(--border-width)) var(--border-width),
        calc(100% - var(--border-width))
        calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
        calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
        calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width))
    );
}